page-signup {
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
      }
    ion-content{
        background-image:linear-gradient(rgba(0, 0, 0, 0.6)), url(../assets/imgs/slide8c.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        letter-spacing: 1px;
        ion-title{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            margin-top: 10%;
        }
        .signupGroup{

            img{
                height: 60px;
                width: 60px;
            }
            // border: 2px solid black;
            margin-bottom: 5%;
            display: flex;
            width: 90%;
            height: 15%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: large;
            color: rgb(231, 175, 106);
            letter-spacing: 1px;
            vertical-align: middle;
            .clickOn {
                // border: 1px solid red;
                width: 25%;
                margin: 5%;
            height: 100%;
        }
        }
        .btnDiv1, .btnDiv2, .btnDiv3 {
            text-align: center;
            margin-top: 5%;
            width: 100%;
            height: 100%;
            ion-item{
                background-color:transparent !important;
                width: 80%;
                margin: auto;
            }
            button{
            width: 60%;
            margin: auto;
            border: 0px !important;
            justify-content:center !important;
        }}
    }

    .button-inner{
        color:white !important;
        justify-content:center !important;

    }

    .signup{
        color: white;
        h5{
            font-size: 90%;
              text-align: center;
        }
        .uu{
            margin-left: 5px;
            display: inline-block;
            font-weight: bold;
            font-size: 170%;
            font-family: Brush Script MT, Brush Script Std, cursive;
    
            color: wheat;
    
        }
    }
    .button-outline-md,.button-outline-ios{
        border-color: white !important;
        color: white !important;
        padding: 20px;
        width: 60%;
        background-color:rgba(238, 234, 234, 0.479) !important;
        letter-spacing: 2px;
        margin-top: 10px !important;
        
       
    }

    
    ion-item{
        margin-top: 10%;
        background-color: transparent !important;
        border-bottom:1px solid #c8c7cc !important;
        border-top: 0px solid black !important;
        color: wheat !important;
    }
}
